<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happybirthday_android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/birthday_logo"
        android:label="Birthday"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Birthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyContact"
            android:label="@string/title_activity_my_contact" >
        </activity>
        <activity
            android:name=".EditContact"
            android:label="@string/title_activity_edit_contact" >
        </activity>
        <activity
            android:name=".SetPreferencesActivity"
            android:label="@string/preferanser" >
        </activity>

        <service android:name=".Warning"></service>
        <service android:name=".SettPeriodiskService"></service>

        <receiver android:name=".Receiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.happybirthday_android.startWarning" />
            </intent-filter>
        </receiver>
    </application>

</manifest>